<div class="container pt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Agregar Empleado
                        <div *ngIf="loading" class="spinner-border float-right" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </h3>

                    <span *ngIf="submitted && createEmpleado.invalid" class="badge badge-danger">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
                    <form class="mt-5" [formGroup]="createEmpleado" (ngSubmit)="agregarEmpleado()">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" formControlName="nombre" placeholder="nombre">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" formControlName="apellido" placeholder="apellido">
                            </div>
                        </div>
                        <input type="text" class="form-control mt-3" formControlName="documento" placeholder="documento">
                        <input type="number" class="form-control mt-3" formControlName="salario" placeholder="salario">
                        <div class="mt-3">
                            <button type="text" class="btn btn-secondary mr-3" routerLink="/list-empleados">Atras</button>
                            <button type="submit" class="btn btn-info">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>