<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-dark btn-lg float-right">Agregar</button>
            <table class="table table-dark table-striped mt-5">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Documento</th>
                        <th>Salario</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Efrain</td>
                        <td>May Mayo</td>
                        <td>12986312812</td>
                        <td>90.00</td>
                        <td>
                            <i class="fas fa-edit fa-lg text-info mr-2"></i>
                            <i class="fas fa-trash fa-lg text-danger"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Tomas</td>
                        <td>May Mayo</td>
                        <td>12986312812</td>
                        <td>90.00</td>
                        <td>
                            <i class="fas fa-edit fa-lg text-info mr-2"></i>
                            <i class="fas fa-trash fa-lg text-danger"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Joalquin</td>
                        <td>May Mayo</td>
                        <td>12986312812</td>
                        <td>90.00</td>
                        <td>
                            <i class="fas fa-edit fa-lg text-info mr-2"></i>
                            <i class="fas fa-trash fa-lg text-danger"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>